server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      # 开启从注册中心动态创建路由的功能
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      # 路由配置
      routes:
        # 用户服务
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=1
        
        # 商品服务
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/product/**
          filters:
            - StripPrefix=1
        
        # 文件上传服务
        - id: upload-service
          uri: lb://product-service
          predicates:
            - Path=/api/upload/**
          filters:
            - StripPrefix=1
        
        # 静态资源（上传的图片）
        - id: uploads-service
          uri: lb://product-service
          predicates:
            - Path=/uploads/**
        
        # 库存服务
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/api/inventory/**
          filters:
            - StripPrefix=1
        
        # 订单服务
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/order/**
          filters:
            - StripPrefix=1
        
        # 支付服务
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payment/**
          filters:
            - StripPrefix=1
        
        # 管理后台
        - id: admin-service
          uri: lb://admin-service
          predicates:
            - Path=/admin/**

      # 跨域配置
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG

